<div class="container text-center">
  <h3>Profile</h3><br><br>
  <div class="row">
    <div class="col-md-4">
      <h3> Your Info </h3><br>
      <% if @user.role == 'user' %>
        <h4>Subscription Level: Standard</h4>
      <% elsif @user.role == 'premium' %>
        <h4>Subscription Level: Premium</h4>
      <% else %>
        <h4>Subscription Level: ADMIN</h4>
      <% end %><br>
      <h4> Email: <%= @user.email %></h4>
    </div>
    <div class="col-md-4">
      <h3> Your Public Wikis </h3><br>
      <% @user.wikis.each do |wiki| %>
        <h4><%= link_to wiki.title, wiki_path(wiki.id) %></h4>
      <% end %>
      <h4><%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %></h4>
    </div>
    <div class="col-md-4">
      <h3> Your Private Wikis </h3><br>
      <% if @user.role == 'user' %>
        <h4>Upgrade to Premium to create private wikis!</h4>
        <h4><%= link_to "Upgrade", new_charge_path, class: 'btn btn-success' %></h4>
      <% else %>
        <% @user.wikis.each do |wiki| %>
          <h4><%= link_to wiki.title, wiki_path(wiki.id) %></h4>
        <% end %>
        <h4><%= link_to "New Private Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %></h4>
      <% end %>
    </div>
  </div>
</div>
