<div class="container text-center">
  <h3>Subscription Change</h3><br><br>
  <div class="row">
    <div class="col-md-12">
      <% if current_user.role == 'user' %>
        <%= form_tag charges_path do %>
          <h4>Upgrading to premium will let you create private wikis and add collaborators! It is $15.00</h4>
          <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
        <% end %>
      <% else %>
        <h4>Are you sure you want to downngrade? Your private wikis will become public.</h4>
        <h4><%= link_to "Downgrade", @charge, method: :delete, class: 'btn btn-danger' %></h4>
      <% end %>
    </div>
  </div>
</div>
 